* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #f8f8f8;
}

.item-navbar {
  text-decoration: none;
  padding: 0 50px;
  color: #666872;
}

.ativo {
  color: #0B7247;
}

.logo {
  margin: 20px 120px;
}

/* MAIN */
.home-conteudo {
  display: grid;
  align-content: center;
  justify-content: center;
  height: 700px;
  grid-template-columns: 400px 800px;
  background: #f8f8f8;
}


.home-frase h1 {
  color: #292D32;
  font-weight: 700;
  font-size: 40px;
}

.titulo-verde {
  color: #0B7247;
}

.botoes-home {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.botao-frase {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(#0B7247, #ADCB56);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.botao-frase a {
  text-decoration: none;
  color: #ffffff;
}

.botao-frase img {
  transition: transform 0.7s ease;
  position: relative;
}

.botao-frase img:hover {
  transform: rotate(360deg);
}

.botao-contato {
  text-align: center;
  background-color: transparent;
  padding: 10px 30px;
  border: 1px solid #0B7247;
  border-radius: 10px;
  cursor: pointer;
}

.botao-contato a {
  text-decoration: none;
  color: #292D32;
}

/*FOTO COM FRASE */

.frase-container {
  height: 600px;
  background-color: #f8f8f8;
}

.frase-conteudo{
 display: flex;
 align-items: center;
}

.frase-bg {
  width: 700px;
}

.frase {
  text-align: left;
  font-size: 20px;
  height: 420px;
  padding: 60px;
  background-color: #ADCB56;
  color: #ffffff;
}

.texto-autor{
  margin-top: 30px;
}

/* MOTOS EM PROMOÇÃO */

.promocao-container {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.promocao-container h2 {
  text-align: center;
  font-size: 30px;
  color: #292D32;
  margin-bottom: 40px;
  padding: 20px 0;
}

.home-promocao {
  height: 500px;
  display: flex;
  justify-content: center;
}

.card-moto {
  margin: 40px;
  width: auto;
  height: 300px;
}

.card-moto img {
  transition: transform 0.3s ease;
}

.titulo-card{
  color: #292D32;
}

.img-card:hover {
  transform: scale(1.2);
}

.preco-catalogo {
  color: #0B7247;
}

.botao-detalhes {
  display: block;
  background-color: transparent;
  width: 190px;
  margin: 0 auto;
  border: 2px solid #0B7247;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.botao-detalhes a {
  text-decoration: none;
  color: #0B7247;
}

.botao-detalhes:hover,
.botao-detalhes:hover a {
  background-color: #0B7247;
  color: #ffffff;
  cursor: pointer;
}

/* FOOTER */

.container-footer {
  width: 100%;
  text-align: center;
  background-color: #ADCB56;
  padding: 20px 0;
}

.container-footer ul {
  background-color: #ADCB56;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.redes-footer {
  padding: 10px 20px;
}

.links-footer {
  text-decoration: none;
  padding: 0 20px;
  color: #ffffff;
}

.linha-footer {
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}

.copyright-footer {
  color: #ffffff;
}