* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #f8f8f8;
}

.item-navbar {
  text-decoration: none;
  padding: 0 50px;
  color: #666872;
}

.logo {
  margin: 20px 120px;
}

/* MAIN */

.promocao-container {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}

.promocao-container h2{
  color: #292D32;
  padding: 20px 0;
}

.home-promocao {
  padding: 0 0 80px 0;
  height: 600px;
  display: flex;
  justify-content: center;
}

.home-conteudo{
  display: grid;
  justify-items: center;
  padding-top: 50px;
  grid-template-columns: 600px 700px 1fr;
  background: #f8f8f8;
}

.home-frase h1{
  color: #292D32;
  font-weight: 700;
}

.titulo-verde{
  color: #0B7247;
}

.botao-frase{
  display: flex;
  align-items: center;
  gap: 5px;
  background: linear-gradient(#0B7247, #ADCB56);
  padding: 5px;
  border: none;
  border-radius: 10px;
}

.botao-frase a{
  text-decoration: none;
  color: #ffffff;
}

.botao-frase::after{
  content: url(../../assets/images/home/arrow-right.svg);
  width: 16px;
  height: 16px;
}

.card-moto {
  margin: 40px;
}

.preco-catalogo {
  color: #0B7247;
}

.botao-detalhes {
  display: block;
  width: 190px;
  margin: 0 auto;
  border: 2px solid #0B7247;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.botao-detalhes a {
  text-decoration: none;
  color: #0B7247;
}

/* FOOTER */

.container-footer {
  width: 100%;
  text-align: center;
  background-color: #ADCB56;
  padding: 20px 0;
}

.container-footer ul {
  background-color: #ADCB56;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.redes-footer {
  padding: 10px 20px;
}

.links-footer {
  text-decoration: none;
  padding: 0 20px;
  color: #ffffff;
}

.linha-footer {
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}

.copyright-footer {
  color: #ffffff;
}