*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f8f8;
    margin-top: 2%;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #f8f8f8;
}

.item-navbar{
    text-decoration: none;
    padding: 0 50px;
    color: #666872;
}

.logo{
    margin: 20px 120px;
}
#titulo{
    font-family: sans-serif;
    color: #292D32;
    margin-left: 490px;
}
form{
    margin-top: 40px;
    margin-left: 410px;
}
fieldset{
    border: 0;
    
}
input, select{
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
}
input:focus, select:focus{
    background-color: rgb(221, 219, 219);
    outline: none;
}
input[type="text"], input[type="email"], input[type="date"], input[type="tel"], select{
    border: 2px solid #0B7247;
    border-radius: 12px;
    border-color: #0B7247;
    
}

input[name="nome"], input[name="email"]{
    width: 500px;
    height: 45px;
    
}
input[name="CPF"]{
    width: 260px;
    height: 45px;
}
input[name="data"]{
    width: 220px;
    height: 45px;
}
input[name="modelo"]{
    width: 290px;
    height: 45px;
    
}
input[name="telefone"]{
    width: 145px;
    height: 44px;
}
input[name="renda"]{
    width: 165px;
    height: 44px;
}
select[name="Ano"]{
    width: 200px;
    height: 49px;
}
.label{
    position: absolute;
    top: -30px;
    left: 10px;
}
.campo{
    margin-bottom: 40px;
    margin-right: 2px;
    position: relative;
}
button{
    background-color: #0B7247;
    border-radius: 12px;
    margin-left: 200px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    color: white;
    border: #0B7247;
}
#linha{
    display: inline-block;
    margin-right: 2px;
}
.radio-group {
    display: flex;
    flex-direction: row; /* Para manter os grupos de rádio na mesma linha */
    gap: 20px; /* Espaçamento entre grupos de rádio */
    margin-bottom: 20px;
}

/* Cada rótulo (label) tem uma direção vertical para o input e o texto */
.radio-label {
    display: flex;
    flex-direction: column; /* Alinha input e texto verticalmente */
    align-items: center; /* Centraliza no eixo horizontal */
    gap: 5px; /* Espaçamento entre input e texto */
    margin-top: 7px;
}

/* Para uma melhor experiência visual, você pode definir tamanho fixo para os inputs */
input[type="radio"] {
    transform: scale(1.2); /* Aumenta um pouco o tamanho do rádio para maior visibilidade */
    appearance: none; /* Remove a aparência padrão do navegador */
    background-color: #f0f0f0; /* Cor de fundo do botão de rádio */
    border: 1.5px solid #0B7247 ; /* Cor da borda */
    border-radius: 50%; /* Forma redonda */
    width: 15px; /* Largura do rádio */
    height: 15px; /* Altura do rádio */
    position: relative; /* Para usar pseudo-elementos */
}
input[type="radio"]:checked::before {
    content: ''; /* Cria o pseudo-elemento */
    position: absolute; /* Para centralizar dentro do input de rádio */
    top: 2px; /* Ajusta posição vertical */
    left: 2px; /* Ajusta posição horizontal */
    width: 9px; /* Largura do círculo interno */
    height: 9px; /* Altura do círculo interno */
    border-radius: 50%; /* Forma redonda */
    background-color: #0B7247; /* Cor do círculo interno */
}
.container-footer{
    width: 100%;
    text-align: center;
    background-color: #ADCB56;
    padding: 20px 0;
}

.container-footer ul{
    background-color: #ADCB56;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.redes-footer{
    padding: 10px 20px;
}

.links-footer{
    text-decoration: none;
    padding: 0 20px;
    color: #ffffff;
}

.linha-footer {
    height: 1px;
    background-color: #fff; /* Cor da linha */
    margin: 20px 0; /* Espaçamento da linha */
}

.copyright-footer{
    color: #ffffff;
}
